* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCAF02;
}

h3 {
    font-weight: 700;
    font-size: 28px;
    margin-left: 32px;
}

span {
    text-decoration: underline;

}

ul {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
    margin-inline-end: 32px;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: black;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.intro-section {
    gap: 32px;

}

.intro-section h1 {
    font-weight: 700;
    font-size: 28px;
    color: #FFFFFF;
    margin-left: 32px;

}

.intro-section p {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-left: 32px;
}

.btn {
    width: 200px;
    height: 40px;
    margin-left: 32px;
    border-radius: 500px;
    background-color: #FCAF02;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;

}

.img {
    transform: scaleX(-1);
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 32px;
}

.form-section h2 {
    font-weight: 700;
    font-size: 32px;
    color: #FCAF02;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 500px;
    border: 2px solid #FCAF02;
    background-color: black;
    color: #FCAF02;
    padding-left: 16px;

}

input::placeholder {
    color: #FCAF02;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.row {
    display: flex;
    gap: 32px;
}

.row input {
    flex: 1;
}

.form-btn {
    width: 200px;
    height: 40px;
    border-radius: 500px;
    background-color: #FCAF02;
    font-weight: 700;
    font-size: 18px;
    background-color: #FCAF02;
    color: black;
    align-self: center;
    cursor: pointer;
}

.table-section {
    padding: 32px 32px;
}

table {
    border-collapse: collapse;
    border: 1px solid #FCAF02;
    width: 100%;
    box-sizing: border-box;
    color: #FCAF02;
    font-size: 16px;
}

th {
    border: 1px solid #FCAF02;
    padding: 10px;
    text-align: center;
}

td {
    border-right: 1px solid #FCAF02;
    padding: 16px;
    text-align: center;
}

tfoot td {
    background-color: #FCAF02;
    color: #000000;
    border: 1px solid #000000;
}